<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantillas/head :: head}"></head>
<body>
<header th:replace="~{plantillas/header :: header}"></header>

<main th:replace="~{plantillas/layout :: contenido(~{::eventosContenido})}">
  <div th:fragment="eventosContenido">
    <h1 class="text-center">Lista de Eventos</h1>

    <div class="row">
      <div class="col-md-4 mb-4" th:each="evento : ${eventos}">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title" th:text="${evento.nombreEvento}">Nombre del Evento</h5>
            <p class="card-text">
              <strong>Fecha:</strong> <span th:text="${evento.fecha}"></span><br>
              <strong>Duración:</strong> <span th:text="${evento.duracion}"></span> min<br>
              <strong>Categoría:</strong> <span th:text="${evento.tipoEvento.tipo}"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer th:replace="~{plantillas/footer :: footer}"></footer>
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
